body {
  /* background-color: #f5f6fa; */
  background-color: rgb(2, 13, 28);
  /* rgb(26, 36, 50) */
}

main {
  width: 400px;
}

img {
  width: 6rem;
}

.lh-0 {
  line-height: .75rem;
}


.dot {
  width: 5px;
  height: 5px;
  background: var(--bs-danger);
  border-radius: 50%;
}

.cs-white {
  background-color: rgb(26, 36, 50);
  /* rgb(2, 13, 28) */
}

.cs-success {
  color: #30cfd0;
}

.cs-danger {
  color: #ff7798;
}

.cs-dark {
  color: #332C54;
}

.fs-13 {
  font-size: 13px;
}

pre {
  font-family: unset;
  font-size: 75%;
}

/* Toggle CSS */
.cyberpunk-checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #30cfd0;
    border-radius: 5px;
    background-color: transparent;
    display: inline-block;
    position: relative;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .cyberpunk-checkbox:before {
    content: "";
    background-color: #30cfd0;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    width: 10px;
    height: 10px;
    border-radius: 3px;
    transition: all 0.3s ease-in-out;
  }
  
  .cyberpunk-checkbox:checked:before {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .cyberpunk-checkbox-label {
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: end;
  }

#st_disabled {
  display: none;
}


.kofi {
  line-height: 0!important;
}

.kofi img{
  width: 1.5rem!important;
  line-height: 0!important;
